@charset "utf-8";

/*
class normal
class contrast
 */

.clear{
	clear: both;
} 


/* Tags Gerais */
*, html, body {
	margin:0; 
	padding:0; 
	border:0;
	}

a{
	text-decoration: none !important;
}
	
body {
	font-family:Verdana, Helvetica, sans-serif;
	color: #000;
}

a{
	color: #000;
}
	
/* Títulos */
h1 {
	font-size:28px;
	padding:15px 0 5px 0
}

h3 {
	font-size:18px;
	font-weight:normal;
}

.purple-color{
	color: #632d8b;
}	
.orange-color{
	color: #f37920;
}
.gray-color{
	color: #8e8e8e;
}



.fixedSize{}
	
/* CONTENTS */

#root{
	width: 1000px;
	margin: 0 auto;
	background-color: #FFF;
}

.contrast #root{
	background-color: #000;
}

#access-bar{
	display: none;
}
	
#content-l{
	width: 95%;
}	

#content-r{
	display: none;
}	
	
#menu{
	display: none;
}	


#logo{
	display: none;
}

#content{
	border: none;
	background: none;
	width: 100%;
}

#content .social-media{
	display: none;
}

/* outdoor */
#outdoor{
	display:none;
}

#destaque{
	padding: 30px 15px 17px 110px;
}

#news360{
	padding: 0;
	width: 100%;
}

#destaque .content-box, 
#news360 .content-box{
	padding: 10px 0 5px 0;
}

#destaque .content-box img, 
#news360 .content-box img{
	padding: 0 10px 0 0;
}

#news360 .content-box p#news-spotlight{
	color: #632d8b;
}

div.news-spotlight{
	display: block;
	padding: 10px 20px 40px 110px;
	font-size: 16px;
	color: #632d8b;
	font-style: italic;
	font-weight: bold;
	line-height: 25px;
}


.content-box dl{
	display:block;
	padding: 5px 15px 15px 0;
}
.content-box dl dt{
	font-size: 15px;
	display: block;
}
.content-box dl dd{
	font-size: 12px;	
	display: block;
	color: #4d4d4d;
}

.content-box dl a{
	text-decoration: none;
}

#destaque .content-box dl a{
	text-decoration: none;
	color: #632d8b;
}
#news360 .content-box dl a{
	text-decoration: none;
	color: #f37920;
}

.content-box p#frase{
	background: url(../img/frase_dest_bg.png) left top no-repeat;
	padding: 45px 15px 10px 10px;
	display:block;
	margin: 0;
	font-size:16px;
	color: #f37920;
	font-family: Georgia;
}

.contrast .content-box p#frase{
	background: url(../img/frase_dest_contrast_bg.png) left top no-repeat !important;
}

.content-box .more{
	display: none;
}



.info-head{
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	font-size: 12px;
}

.info-head .date{
	background: #FFF;
	width: 80px;
	float: left;
	position: relative;
	bottom: -2px;
}
.info-head .social-media{
	display:none;
}

#destaque .info-head{
	border-bottom-color: #632d8b;
}
#news360 .info-head{
	border-bottom-color: #f37920;
}




/* BANNERS */

#banners{
	padding: 30px 0 20px 110px;
	float: none;
}

#banners .button{
	width: 277px;
	height: 187px;
	padding: 6px 6px;
	margin: 0 8px 0 0;
	background: #632d8b;
	float: left;
}
#banners .fullbanner{
	width: 575px;
	height: 187px;
	padding: 6px 6px;
	margin: 20px 0 0 0;
	background: #632d8b;
	float: none;
	clear: both;
}



/* FOOTER */
#footer{
	display: none;
}



/* PÁGINA DE DOWNLOADS E IMPRENSA */

#download-box{
	padding: 30px 15px 42px 110px;
}

table#list{
	margin: 35px 0 0 0;
	font-size: 12px;
	color: #4d4d4d;
}
table#list thead tr td{
	padding: 0 5px 25px 5px;
	font-style: italic;
	text-align: left;
	vertical-align: middle;
}

table#list thead td span{
	font-weight: bold;
	padding: 2px 5px;	
	color: #FFF;
	background: #4d4d4d; 
}

table#list tbody tr td{
	border-bottom: 1px solid #632d8b;
	text-align: left;
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
	font-style: italic;
}

table#list tbody tr.none td{
	border-bottom: none !important;
}

table#list tbody td a{
	color: #4d4d4d; 
}

/* PÁGINA DE NOVIDADES 360 - ITEM */

#news360 h1 a#news-list {
	display:none;
}

#content-news{
	font-size: 16px;
	font-style: normal;
	padding: 30px 30px 60px 0 !important;
}

#content-news img{
	padding: 10px 0 !important;
}

#content-news #date{
	padding-top: 30px;
	font-size: 19px;
	color: #f37920;
}

#content-news h2#title-news{
	font-size: 28px;
	font-weight: normal;
	padding: 0 150px 30px 0;
	color: #f37920;
}

#content-news #news-spotlight{
	font-style: italic;
	padding: 0 0 30px 0;
}


/* PÁGINA NOVIDADES 360 - LISTA */

#outdoor-news{
	height: 40px;
	background: url(../img/content-dest_bg.png) right bottom no-repeat;
}

#news360.list{
	padding: 30px 15px 39px 0 !important;
}
#news360.list h1{
	padding-left: 110px;
}

#list-itens{
	display: block;
	width: 100%;
}
#list-itens li.month-list{
	display: block;
}

#list-itens li.month-list .itens{
	padding: 0;
}

.active{
	display: block;
}
.inactive{
	display: block;
}

#list-itens li.month-list h3{
	font-size: 28px;
}

.glossario_def{
	text-decoration: underline !important;
}

.curso-info{
	display: block;
	font-size:12px;
	padding:0 0 20px 0;
}

/*
#root .content-box p{
	line-height: 19px;
}
*/

#project-content p{
	padding: 0 0 35px 0;	
}

.quemsomos_item{
	padding: 0 0 20px 0;
}
.quemsomos_item h3.title{
	font-weight: bold;;
	font-size: 18px;
}
.quemsomos_item .quemsomos_texto{
	padding: 5px 0 0 0;
}

#depoimento .depoimento-box{
	width: 200px;
}

#depoimento .depoimento-box ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
#depoimento .depoimento-box ul li{
	display: block;
	margin: 0;
	padding: 0;
	list-style-image: none;
}
#depoimento .depoimento-box ul li .description{
	font-size: 11px;
	font-style: italic;
	line-height: 15px;
	font-weight: bold;
	color: #FFF;
	background: #7ecce7;
	padding: 3px;
	margin: 0 0 5px 0;
}
#depoimento .depoimento-box ul li div{
	margin: 0 0 2px 0;
}
#depoimento .depoimento-box ul li .author{
	font-size: 9px;
	line-height: 12px;
	font-style: italic;
	font-weight: bold;
	color: #FFF;
	background: #7ecce7;
	padding: 3px;
	text-transform: uppercase;
}
#depoimento .depoimento-box ul li .company{
	font-size: 9px;
	line-height: 12px;
	font-style: italic;
	font-weight: bold;
	color: #FFF;
	background: #7ecce7;
	padding: 3px;
}

#depoimento #link{
	padding: 10px 0;
	font-size: 14px;
}


/* IMPRENSA */
.imprensa #outdoor{
	height: 1px;
}

#news360,
#imprensa-info{
	padding: 30px 15px 39px 110px;
}

#imprensa-info{
	padding: 10px 15px 20px 110px;
}

#nossos-numeros{
	padding: 0 15px 20px 110px;
}


#imprensa-info h3{
	font-size: 15px;
	font-weight: bold;
	margin: 10px 0 3px 0;
}

#imprensa-info .curso-info{
	font-size: 12px;
	font-style: italic;
}

.imprensa #destaque{
	padding-top: 0px;
}


#imprensa-info, 
#nossos-numeros,
.imprensa #destaque{
	background: url(../img/content-dest_bg.png) right bottom no-repeat !important;
}

#imprensa-info .content-box{
	padding: 10px 0 5px 0;
	margin: 0;
}

.imprensa #destaque .content-box{
	padding: 10px 0 20px 0;
	margin: 0;
}

#imprensa-info #content-news{
	font-size: 16px;
	font-style: normal;
	padding: 5px 30px 10px 0 !important;
}

#imprensa-info .content-box img{
	padding: 0 10px 0 0;
}

#nossos-numeros #project-content{
	font-size: 12px;
	color: #4d4d4d;
	font-style: italic;
}



.imprensa .release-clipping{
	padding: 0;
}

.imprensa .release-clipping .more{
	text-align: right;
}

.imprensa .release-clipping .content-box{
	padding: 10px 0 5px 0;
	color: #8e8e8e;
}

.imprensa .release-clipping .content-box a{
	text-decoration: none;
	color: #8e8e8e;
}
.imprensa .release-clipping .info-head{
	border-bottom: none;
	font-size: 12px;
}

.imprensa .release-clipping .title-imp{
	font-size: 15px;
	color: #8e8e8e;
	padding-bottom: 5px;
}

.imprensa .release-clipping h1 a#news-list {
	font-weight: normal;
}

.imprensa .release-clipping.list{
	padding: 30px 15px 39px 0 !important;
}
.imprensa .release-clipping.list h1{
	padding-left: 110px;
}


#galeria{
	display:none;
}