<IfModule mod_rewrite.c>

    RewriteEngine On
    Options -Indexes
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.php -f

	RewriteCond %{REQUEST_URI} !^(index\.php|robots\.txt|imgs|imgs_rich|fonts|videos|posts|js|css|scripts) [NC]
	RewriteRule ^(.*)$ $1.php

	RewriteRule ^home/?$ index.php
	RewriteRule ^downloads/?$ downloadLista.php
	RewriteRule ^imprensa/?$ imprensaLista.php
	RewriteRule ^agenda/?$ agendaLista.php

	RewriteRule ^acessibilidade/?$ acessibilidadeInfo.php

	RewriteRule ^quem_somos/?$ quemSomosLista.php
	RewriteRule ^quem_somos/([^/]+)/?$ quemSomosLista.php?quemsomos_id=$1
	RewriteRule ^quem_somos/([^/]+)/([^/]+)/?$ quemSomosLista.php?quemsomos_id=$1&quemsomos_titulo=$2

	RewriteRule ^busca/([^/]+)/?$ buscaLista.php?busca_texto=$1

	RewriteRule ^boletim/([^/]+)/?$ newsletterItem.php?emailmkt_id=$1

	RewriteRule ^glossario/([^/]+)/([^/]+)/?$ glossarioItem.php?glossario_id=$1&glossario_palavra=$2
	RewriteRule ^glossario/([^/]+)/([^/]+)/([^/]+)/?$ glossarioItem.php?glossario_id=$1&glossario_palavra=$2&emailmkt_id=$3

	RewriteRule ^novidade360/?$ novidadeLista.php
	RewriteRule ^novidade360/([^/]+)/?$ novidadeLista.php?emailmkt_id=$1

	RewriteRule ^novidade360/([^/]+)/?$ novidadeItem.php?novidade_360_id=$1
	RewriteRule ^novidade360/([^/]+)/([^/]+)/?$ novidadeItem.php?novidade_360_id=$1&novidade_360_titulo=$2
	RewriteRule ^novidade360/([^/]+)/([^/]+)/([^/]+)/?$ novidadeItem.php?novidade_360_id=$1&novidade_360_titulo=$2&emailmkt_id=$3

	RewriteRule ^cursos/?$ cursoLista.php
	RewriteRule ^cursos/([^/]+)/([^/]+)/?$ cursoLista.php?tipo_curso_id=$1&tipo_curso_titulo=$2
	RewriteRule ^curso/([^/]+)/?$ cursoItem.php?curso_id=$1
	RewriteRule ^curso/([^/]+)/([^/]+)/?$ cursoItem.php?curso_id=$1&curso_titulo=$2
	RewriteRule ^curso/([^/]+)/([^/]+)/([^/]+)/?$ cursoItem.php?curso_id=$1&curso_titulo=$2&emailmkt_id=$3

	RewriteRule ^servicos/?$ servicoLista.php
	RewriteRule ^servicos/([^/]+)/([^/]+)/?$ servicoLista.php?tipo_servico_id=$1&tipo_servico_titulo=$2
	RewriteRule ^servico/([^/]+)/?$ servicoItem.php?servico_id=$1
	RewriteRule ^servico/([^/]+)/([^/]+)/?$ servicoItem.php?servico_id=$1&servico_titulo=$2
	RewriteRule ^servico/([^/]+)/([^/]+)/([^/]+)/?$ servicoItem.php?servico_id=$1&servico_titulo=$2&emailmkt_id=$3

	RewriteRule ^projetos/?$ projetoLista.php
	RewriteRule ^projetos/([^/]+)/([^/]+)/?$ projetoLista.php?tipo_projeto_id=$1&tipo_projeto_titulo=$2
	RewriteRule ^projeto/([^/]+)/?$ projetoItem.php?projeto_id=$1
	RewriteRule ^projeto/([^/]+)/([^/]+)/?$ projetoItem.php?projeto_id=$1&projeto_titulo=$2
	RewriteRule ^projeto/([^/]+)/([^/]+)/([^/]+)/?$ projetoItem.php?projeto_id=$1&projeto_titulo=$2&emailmkt_id=$3
	
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 http://www.google.com.br
</IfModule>