<IfModule mod_rewrite.c>

    RewriteEngine On
    Options -Indexes
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.php -f

	RewriteCond %{REQUEST_URI} !^(index\.php|robots\.txt|imgs|imgs_rich|fonts|videos|posts|js|css|scripts) [NC]
	RewriteRule ^(.*)$ $1.php

	RewriteRule ^home/?$ index.php

	RewriteRule ^novidade360/?$ novidadeLista.php
	RewriteRule ^novidade360/([^/]+)/?$ novidadeItem.php?novidade_360_id=$1
	RewriteRule ^novidade360/([^/]+)/([^/]+)/?$ novidadeItem.php?novidade_360_id=$1&novidade_360_titulo=$2

	RewriteRule ^downloads/?$ downloadLista.php
	RewriteRule ^imprensa/?$ imprensaLista.php

	RewriteRule ^quem_somos/?$ quemsomos.php
	RewriteRule ^acessibilidade/?$ acessibilidadeInfo.php

	RewriteRule ^cursos/?$ cursoLista.php
	RewriteRule ^curso/([^/]+)/?$ cursoItem.php?curso_id=$1
	RewriteRule ^curso/([^/]+)/([^/]+)/?$ cursoItem.php?curso_id=$1&curso_titulo=$2

	RewriteRule ^servicos/?$ servicoLista.php
	RewriteRule ^servico/([^/]+)/?$ servicoItem.php?servico_id=$1
	RewriteRule ^servico/([^/]+)/([^/]+)/?$ servicoItem.php?servico_id=$1&servico_titulo=$2

	RewriteRule ^projetos/?$ projetoLista.php
	RewriteRule ^projetos/([^/]+)/?$ projetoLista.php?projeto_tipo_desc=$1

	RewriteRule ^projeto/([^/]+)/?$ projetoItem.php?projeto_id=$1
	RewriteRule ^projeto/([^/]+)/([^/]+)/?$ projetoItem.php?projeto_id=$1&projeto_titulo=$2


	
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 http://www.google.com.br
</IfModule>