<IfModule mod_rewrite.c>

    RewriteEngine On
    Options -Indexes
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.php -f

	RewriteCond %{REQUEST_URI} !^(index\.php|robots\.txt|imgs|imgs_rich|fonts|videos|posts|js|css|scripts) [NC]
	RewriteRule ^(.*)$ $1.php

	RewriteRule ^home/?$ index.php

	RewriteRule ^quem_somos/?$ quemsomos.php
	
	RewriteRule ^novidade360/?$ novidadeLista.php
	RewriteRule ^novidade360/([^/]+)/?$ novidadeItem.php?novidade_360_id=$1
	RewriteRule ^novidade360/([^/]+)/([^/]+)/?$ novidadeItem.php?novidade_360_id=$1&novidade_360_titulo=$2


	
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 http://www.google.com.br
</IfModule>